## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [3]:
s='Hi there Sam!'
s.split()

['Hi', 'there', 'Sam!']

In [4]:
s='Hi there Sam!'
s.split()

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [6]:
planet = "Earth"
diameter = 12742
print ('The diameter of {one} is {two} kilometre.'.format (one=planet,two=diameter ))

The diameter of Earth is 12742 kilometre.

In [7]:
lanet = "Earth"
diameter = 12742
print ('The diameter of {one} is {two} kilometre.'.format (one=planet,two=diameter ))

The diameter of Earth is 12742 kilometre.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [12]:
lst=[1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst [3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [13]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [14]:

d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [15]:
#tuple is immutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [16]:
def domainGet (email):
    return email.split('@')[-1]
domainGet('user@domain.com')

'domain.com'

In [17]:
def domainGet (email):
    return email.split('@')[-1]
domainGet('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [19]:
def findDog(st):
    return 'dog' in st.lower().split()
findDog ('Is there a dog here')

True

In [20]:
def findDog(st):
    return 'dog' in st.lower().split()
findDog ('Is there a dog here')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [21]:
def countDog(st):
    count=0
    for word in st.lower().split():
        if word=='dog':
          count+=1
    return count
countDog('The dog runs faster than the other dog dude!')

2

In [22]:
def countDog(st):
    count=0
    for word in st.lower().split():
        if word=='dog':
          count+=1
    return count
countDog('The dog runs faster than the other dog dude!')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [37]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [40]:
caught_speeding(81,True)

'Small Ticket'

In [41]:
caught_speeding(81,False)

'Big Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [50]:
employee_name=["abc","ef","ghi","jkl","mno","pqr"]
employee_salaries={}
for employee in employee_name:
    while True: #Input Validation loop
      try:
          employee_salaries[employee]=int(input(f"Enter {employee}'s salary:"))
          break
      except ValueError:
          print("Invalid input")
print(employee_salaries)
total= sum(employee_salaries.values98())
print(total)

Enter abc's salary:78000
Enter ef's salary:98000
Enter ghi's salary:68000
Enter jkl's salary:87000
Enter mno's salary:67000
Enter pqr's salary:67000
{'abc': 78000, 'ef': 98000, 'ghi': 68000, 'jkl': 87000, 'mno': 67000, 'pqr': 67000}
465000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [45]:
#python code to demonstrate combining
#two dictionaries

from collections import Counter

#initialising dictionaries
ini_dictionary1 = Counter({'megha':10,'rithuma':8,'rathika':9,'sulo':7})
ini_dictionary2 = Counter({'ece':9,'ecc':16,'eec':14,'cee':21})

#printing initial dictionaries
print ("initial 1st dictionary", str(ini_dictionary1))
print ("initial 2nd dictionary", str(ini_dictionary2))

#combining dictionaries
#using Counter
final_dictionary = ini_dictionary1 + ini_dictionary2

#printing final result
print ('final dictionary', str(final_dictionary))

initial 1st dictionary Counter({'megha': 10, 'rathika': 9, 'rithuma': 8, 'sulo': 7})
initial 2nd dictionary Counter({'cee': 21, 'ecc': 16, 'eec': 14, 'ece': 9})
final dictionary Counter({'cee': 21, 'ecc': 16, 'eec': 14, 'megha': 10, 'rathika': 9, 'ece': 9, 'rithuma': 8, 'sulo': 7})